.e-checkbox-wrapper .e-frame.e-check, .e-css.e-checkbox-wrapper .e-frame.e-check,
.e-checkbox-wrapper.e-css>.e-frame.e-check{
    background-color: var(--3-d-4861-title-icon-2);
    border-color: rgba(0,0,0,0);
    color: #fff;
}

.e-checkbox-wrapper.e-css>.e-frame {
    width: 16px;
    height: 16px;
    padding: 1px 0 5px;
}

.e-grid .e-gridheader tr:first-child th {
    background-color: var(--f-7-f-8-fa);
    height:36px;
}

.e-grid .e-rowcell:not(.e-editedbatchcell):not(.e-updatedtd){
    height: 48px !important;
    padding-left: 3px !important;
}

.e-grid td.e-active {
    background-color: var(--f-0-f-2-f-5-background-1);
}

.e-grid .e-headercell {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--718093-contents-icon-1);
}

.e-upload.e-control-wrapper.e-lib.e-keyboard,
#dropArea .e-upload .e-upload-files .e-file-reload-btn.e-icons:hover,
#dropArea .e-upload .e-upload-files .e-file-reload-btn.e-icons {
    display: none
}

.e-grid th.e-headercell.e-mousepointer {
    padding: 0;
}

.e-grid span.e-headertext {
    margin: 0;
}

.e-grid .e-gridheader .e-sortfilter .e-headercelldiv {
    padding: 10px !important;
}

.e-grid .e-gridheader {
    border: none !important;
    padding: 0 !important;
}


.e-grid tbody .e-checkbox-wrapper.e-css {
    margin-top: 3px;
}

.e-grid td.e-rowcell {
    padding: 0 !important;
}

.e-grid .e-headercontent {
    border-width: 1px 0;
    border-right-width: 0 !important;
}

.e-grid{
    font-family: inherit;
    border: none;
}

.e-grid .e-gridpager.e-control.e-pager.e-lib .e-pagesizes {
    display: none;
}


.e-grid .e-pager .e-pagercontainer {
    justify-content: flex-start;
}

.e-grid .e-pager .e-currentitem.e-numericitem.e-focused {
    background: inherit !important;
    border: none !important;
}

.e-grid .e-content {
    height: 45vh;
}

.e-grid .e-checkbox-wrapper span.e-frame.e-icons {
    border: 1px solid var(--gray-pale-3);
    box-shadow: inset 0px 0px 1px 1px var(--gray-pale-3)
}

.e-input-group:not(.e-float-icon-left).e-error:not(.e-float-input)::before, .e-input-group:not(.e-float-icon-left).e-error:not(.e-float-input)::after, .e-input-group.e-float-icon-left.e-error:not(.e-float-input) .e-input-in-wrap::before, .e-input-group.e-float-icon-left.e-error:not(.e-float-input) .e-input-in-wrap::after, .e-input-group.e-control-wrapper:not(.e-float-icon-left).e-error:not(.e-float-input)::before, .e-input-group.e-control-wrapper:not(.e-float-icon-left).e-error:not(.e-float-input)::after, .e-input-group.e-control-wrapper.e-float-icon-left.e-error:not(.e-float-input) .e-input-in-wrap::before, .e-input-group.e-control-wrapper.e-float-icon-left.e-error:not(.e-float-input) .e-input-in-wrap::after{
    background: inherit !important;
}

.e-pager .e-currentitem.e-numericitem.e-focused{
    background:none !important;
    border: none !important;
}